body .all-card {
	background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 130vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

figure img {
  width: 100%;
  transition: transform 1.1s ease-out;
}

figure img:hover {
  transform: scale(1.3);
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  figure img:hover
  {
    transform: scale(1.0);
  }
}

.figure-image {
	object-fit: contain;
	height: 280px;
}